:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Structure de base */
html,
body {
  font-family: var(--font-geist-sans);
  background: #6b21a8; /* Fond violet sombre */
  color: white;
  scroll-behavior: smooth;
}

/* Menu hamburger */
.menuButton {
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background: white;
  margin: 5px 0;
}

/* Menu déroulant */
.menuOverlay {
  background: linear-gradient(
    135deg,
    #9333ea,
    #22c55e,
    #2563eb,
    #ef4444,
    #facc15
  );
  padding: 1rem;
  border-radius: 12px;
  position: absolute;
  top: 4rem;
  left: 0;
  width: 220px;
  text-align: center;
  z-index: 1000;
}

.menuOverlay ul {
  list-style: none;
  padding: 0;
}

.menuOverlay li {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Responsive général */
@media screen and (max-width: 768px) {
  .menuOverlay {
    width: 90%;
  }

  .menuOverlay li {
    font-size: 1.2rem;
  }
}
